<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Protest and Social Media</title>
  <!--  public scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- dependancies -->
    <script src="public/venders/jquery.js"></script>
    <script src="public/venders/underscore.js"></script>
    <script src="public/venders/raphael.js"></script>
<!-- loads states package and options -->
    <script src="public/venders/landline/states/states_packaged.js"></script>
    <script src="public/venders/landline/states/states_options.js"></script>
<!-- load landline an stateline -->
    <script src="public/venders/landline/landline.js"></script>
    <script src="public/venders/landline/landline.stateline.js"></script>
<!-- mine -->
    <link rel="stylesheet" type="text/css" href="public/css/styles.css">
    <script src="public/js/index.js"></script>

<!-- tooltip template -->
  <script type="text/jst" id="landline_tooltip_tmpl">
    <h2>Awesome State</h2>
    <span class="tooltip_sub">
      Median income <br>
      <span class="tooltip-Moe"> <br> Yeah! </span>
    </span>
  </script>

</head>
<body>

  <div class="header">
    <h2>Bushwich Active...</h2>
    <p>Is part of the larger world...</p>
  </div>

  <div class="thirds">
    <div id="1of3" class="third">Twitter</div>
    <div id="2of3" class="third">Instagram</div>
    <div id="3of3" class="third">Past Searches</div>
  </div>

  <div class="main">
    <div id="map-container"></div>
    <div id="tooltip"></div>
  </div>

  <div class="pics-on-right">

  </div>

</body>
</html>
